.form {
	width: 100%;
	margin: auto;
	padding: 2rem 3rem;
	background-color: var(--color-dark--2);
	overflow: scroll;
}

.row {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 15px;
}

.flag {
	position: absolute;
	right: 1rem;
	top: 2.7rem;
	font-size: 2.8rem;
}
.row input {
	margin-top: 10px;
}
.buttons {
	display: flex;
	justify-content: space-between;
}
.form.loading {
	opacity: 0.3;
}
